@page
@model RealTimeWebApp.Pages.MethodPages.SSEPageModel
@{
    ViewData["Title"] = "SSE";
}
<h2 class="infoTablet"> Server Sent Event</h2>
<p class="infoTablet">Передача інформації за допомоги<br>
    постійних подій, що надсилає сервер</p>
<table id="dataTable"></table>

<div class="waitMessage" id = "waitMessage">
    <h5 class="hWait">Йде підключення</h5>
    <p class="pWait">Йде підключення до ресурсу, зачекайте встановлення з'єднання, будь ласка</p>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/SSEScript.js"></script>
