@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="infoTablet">
    <h1>Веб-додаток з постійно оновлюваними даними</h1>
    <div class="infoTablet2">
        <h3>Реалізовані методи</h3>
        <ul>
            <li>Long Polling</li>
            <li>Server Sent Events</li>
            <li>WebSocket</li>
        </ul>
        <p>Перехід між методами відбувається за допомоги строки навігації<p>
    </div>
    <p>Джерелом даних є локальна база даних</p>
</div>